 
mixin teams(worker,prof,cat)
    .col-12.col-md-6.col-xl-3.staff
        .person
            img(src=cat)
        .unit    
            h3= worker
            p= prof
        
+teams('SEMF UCUK',"CEO & FOUNDER","img/cat1.jpg")
+teams('DIK ADALIN','ENGINEERING',"img/cat2.jpg")
+teams('JENG KOL','DESIGNER',"img/cat3.jpg")
+teams('PET ROMAK','MARKETING',"img/cat4.jpg")