section#fifth-block.fifth-block
    .container
        .row
            .col-12
                .row
                    .col-12
                        h1 MEET OUR AMAZING TEAM
                        p Lorem ipsum dolor sit amet proin gravida nibh vel velit
                        hr
                    include modules/person
                    .col-12.hiring    
                        p Become part of our team, let's join us!                  
                        a(class='learn-more',href='#') WE ARE HIRING